.box1{
	border: 1px black solid;
	position: absolute;
	width: 20%;
	height: 400px;
	left: 40%;
	
	justify-content: center;
	background-color: yellow;	
}

.innerBox{
	position: absolute;
	width: 15px;
	height: 15px;
	right: 0px;
	background-color: red;
}