.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.correct {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #090;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

