#greenRectangle{
	position: absolute;
	background-color: green;
	width: 100px;
	height: 100px;
	top: 10px;
	left: 10px;
}

#redRectangle{
	position: absolute;
	background-color: red;
	width: 100px;
	height: 100px;
	top: 10px;
	left: 10px;
	transition: all 2s ease 0s;
}

#redRectangle:hover{
	transform: rotate(45deg) translate(90px, -90px);
	
}
